<div class="jumbotron">
  <div class="container">
    <h1>Album - {{albumID}}</h1>

    <div class="upload-area">
      <span class="text-info"><strong>Select file to upload:</strong></span>
      <label class="btn btn-default btn-file">
        Browse <input type="file" (change)="fileChangeEvent($event)" style="display: none;" accept="image/*">
      </label>
      <div *ngIf="fileSelected">
        <span>selected file: "{{fileSelected.name}}"</span>
        <button [disabled]="isProcessingUpload" class="btn btn-primary" (click)="upload()"> Upload</button>
        <div id="in-progress" *ngIf="isProcessingUpload">
          <img id="in-progress-spinner" src="../assets/spinner.gif">
        </div>
      </div>
    </div>
    <div class="success-banner">
      <div class="alert alert-success" role="alert" *ngIf="doneUploading && !s3UploadFailure">
        <span class="glyphicon glyphicon-ok"></span>
        <strong> Done uploading to S3! </strong>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="doneUploading && s3UploadFailure">
        <strong> Failed to upload to S3. </strong> Check you have configured the correct bucket in app/Config.ts
      </div>
      <div class="alert alert-success" role="alert" *ngIf="executionArn">
        <span class="glyphicon glyphicon-ok"></span>
        <strong> Step Functions State Machine execution ARN: </strong>
        <span><small>{{executionArn}}</small></span>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="timeoutPollingExecutionArn">
        <strong> Timed out polling Step Functions execution ARN: </strong> Check you have configured the S3 upload event to trigger the "ImageProcessingStart" Lambda function
      </div>
      <div class="alert" role="alert" *ngIf="executionStatus"
           [ngClass]="{'alert-success': executionStatus==='SUCCEEDED',
            'alert-info': executionStatus==='RUNNING',
            'alert-danger': executionStatus!=='RUNNING' && executionStatus!=='SUCCEEDED'
            }">
        <span *ngIf="executionStatus=='SUCCEEDED'" class="glyphicon glyphicon-ok"></span>
        <strong> State Machine execution Status: </strong>
        <span><small>{{executionStatus}}</small></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div *ngFor="let photo of photos">
    <div class="photo-blocks">
      <a (click)="getInfo(photo)" class="thumbnail center-block">
        <img [src]="photo.url|async">
        <strong>Tags: </strong>
        <div class="photo-tags" *ngFor="let tag of photo.tags">
          <span class="label label-primary">{{tag}}</span>
        </div>
        <div>
          <strong>Upload date: </strong>
          <span>{{(photo.uploadTime*1000) | date:'medium'}}</span>
        </div>
        <div *ngIf="photo.latitude && photo.longitude">
          <strong>Geolocation:</strong> {{photo.latitude.D}}°{{photo.latitude.M}}'{{photo.latitude.S | round}}" {{photo.latitude.Direction}}
          {{photo.longitude.D}}°{{photo.longitude.M}}'{{photo.longitude.S | round}}" {{photo.longitude.Direction}}
        </div>
        <div *ngIf="photo.exifModel">
          <strong>Device model:</strong> {{photo.exifModel}}
        </div>
        <div *ngIf="photo.exifMake">
          <strong>Device make:</strong> {{photo.exifMake}}
        </div>
        <div >
          <strong>Image Size: </strong>{{photo.fileSize}}, {{photo.dimensions.width}}x{{photo.dimensions.height}}
        </div>
      </a>
    </div>
  </div>
</div>


